body{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background-color: rgb(203, 226, 150);
}

#uusiIlmoitus{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(166, 210, 63);
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(106, 150, 4);
    margin-top: 20px;
}

#buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    body{max-width: 600px;}
}

@media only screen and (min-width: 600px) {
    body{max-width: 550px;}
}

@media only screen and (min-width: 768px) {
    body{max-width: 700px;}
}

@media only screen and (min-width: 992px) {
    body{max-width: 850px;}
}

@media only screen and (min-width: 1200px) {
    body{max-width: 1040px;}
}